In [2]:
!pip install alpha_vantage

Requirement already satisfied: alpha_vantage in /anaconda3/lib/python3.7/site-packages (2.1.0)
Requirement already satisfied: requests in /anaconda3/lib/python3.7/site-packages (from alpha_vantage) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests->alpha_vantage) (2018.11.29)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.7/site-packages (from requests->alpha_vantage) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests->alpha_vantage) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests->alpha_vantage) (2.8)

In [59]:
import alpha_vantage
%matplotlib inline
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.cryptocurrencies import CryptoCurrencies
import matplotlib
import matplotlib.pyplot as plt
#importing the required tools for alpha advantage api

apikey = 'JJXIFEPV0N66DTON'
#apikey obtained through alpha vantage website

In [55]:
#alpha vantage api syntax, requiring a function, symbol and market
#using the api key to access api, resulted in output being a pandas dataframe
cc = CryptoCurrencies(key=apikey, output_format='pandas')
data, meta_data = cc.get_digital_currency_daily(symbol='XRP', market='USD')

In [45]:
bitcoin_meta

{'1. Information': 'Daily Prices and Volumes for Digital Currency',
 '2. Digital Currency Code': 'BTC',
 '3. Digital Currency Name': 'Bitcoin',
 '4. Market Code': 'USD',
 '5. Market Name': 'United States Dollar',
 '6. Last Refreshed': '2019-02-11 (end of day)',
 '7. Time Zone': 'UTC'}

In [49]:
bitcoin_data.head()

,1a. open (USD),1b. open (USD),2a. high (USD),2b. high (USD),3a. low (USD),3b. low (USD),4a. close (USD),4b. close (USD),5. volume,6. market cap (USD)
date,,,,,,,,,,
2014-04-01,468.480106,468.480106,491.267273,491.267273,468.480106,468.480106,479.023434,479.023434,62894.683068,3.012803e+07
2014-04-02,479.679615,479.679615,494.111337,494.111337,430.725909,430.725909,438.377824,438.377824,96314.587552,4.222218e+07
2014-04-03,437.322089,437.322089,452.441405,452.441405,414.811104,414.811104,446.819755,446.819755,74292.749549,3.319547e+07
2014-04-04,448.597144,448.597144,457.327172,457.327172,429.184117,429.184117,451.645992,451.645992,39267.667348,1.773508e+07
2014-04-05,450.027798,450.027798,466.385470,466.385470,445.107783,445.107783,464.379322,464.379322,21574.144537,1.001859e+07

In [53]:
ethereum_meta

{'1. Information': 'Daily Prices and Volumes for Digital Currency',
 '2. Digital Currency Code': 'ETH',
 '3. Digital Currency Name': 'Ethereum',
 '4. Market Code': 'USD',
 '5. Market Name': 'United States Dollar',
 '6. Last Refreshed': '2019-02-11 (end of day)',
 '7. Time Zone': 'UTC'}

In [54]:
ethereum_data.head()

,1a. open (USD),1b. open (USD),2a. high (USD),2b. high (USD),3a. low (USD),3b. low (USD),4a. close (USD),4b. close (USD),5. volume,6. market cap (USD)
date,,,,,,,,,,
2015-08-08,3.00000,3.00000,3.00000,3.00000,0.15000,0.15000,1.19999,1.19999,1942.888147,2331.446348
2015-08-09,1.19999,1.19999,1.19999,1.19999,1.19999,1.19999,1.19999,1.19999,0.000000,0.000000
2015-08-10,1.19999,1.19999,1.19999,1.19999,1.19999,1.19999,1.19999,1.19999,0.000000,0.000000
2015-08-11,1.19999,1.19999,1.19999,1.19999,0.65038,0.65038,0.99000,0.99000,9234.568705,9142.223018
2015-08-12,0.99000,0.99000,1.28800,1.28800,0.90500,0.90500,1.28800,1.28800,1736.114983,2236.116098

In [57]:
xrp_meta

{'1. Information': 'Daily Prices and Volumes for Digital Currency',
 '2. Digital Currency Code': 'XRP',
 '3. Digital Currency Name': 'Ripple',
 '4. Market Code': 'USD',
 '5. Market Name': 'United States Dollar',
 '6. Last Refreshed': '2019-02-11 (end of day)',
 '7. Time Zone': 'UTC'}

In [58]:
xrp_data.head()

,1a. open (USD),1b. open (USD),2a. high (USD),2b. high (USD),3a. low (USD),3b. low (USD),4a. close (USD),4b. close (USD),5. volume,6. market cap (USD)
date,,,,,,,,,,
2014-04-09,0.009407,0.009407,0.009407,0.009407,0.008333,0.008333,0.008333,0.008333,1658.399999,13.820000
2014-04-10,0.008333,0.008333,0.008333,0.008333,0.006796,0.006796,0.006796,0.006796,10037.029375,68.216000
2014-04-11,0.006796,0.006796,0.006983,0.006983,0.006727,0.006727,0.006727,0.006727,184.338400,1.240000
2014-04-12,0.006727,0.006727,0.006893,0.006893,0.006727,0.006727,0.006880,0.006880,7965.670792,54.803000
2014-04-13,0.006880,0.006880,0.006880,0.006880,0.006515,0.006515,0.006515,0.006515,91.700000,0.597468